
.addFriendEntry {
    height: 68px;
    display: block;
    border-bottom: 1px solid white;
}

.addFriend {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: white;
}