.login-container {
    margin: 0 auto;
    top: 25%;
    width: 23%; /*can be in percentage also.*/
    height: auto;
    padding: 10px;
    position: relative;
    background-color: white;
    min-width: 250px;
}

.nav {
    background-color: white;
    padding: 5px;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}
