.burgerBut {
    float: left;
    height: 100%;
    width: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.burgerBut:hover {
    color: #B3561F;
    cursor: pointer;
}