.right-pane {
    height: 100%;
    /* For testing */
    border: 1px solid white;
    display: flex;
    flex-flow: column;
}

.chat-body {
    min-width: 400px;    
    flex: 2 ;
    overflow: auto;
    font-size: 13.6px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
}


/**/

.left{
    color: #60519C;
}
.right{
    color: #B3561F;
}

/*



*/
